<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php" forceCoversAnnotation="true" colors="true" strict="true">

    <testsuite name="VisualRadius">
        <directory suffix=".test.php">./test</directory>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
